.trending-container {
    background: #f4f5f9;
    margin: 40px;
    padding-left: 80px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 790px;
    position: relative;
}

.card-container {
    display: flex;
}

.cards {
    display: none;
}

.cards img {
    padding: 12px;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

#slide-left,
#slide-rigth {
    cursor: pointer;
}